*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  background: url("website-main-background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;git
  -o-background-size: cover;
  background-size: cover;
}
}
a:link{
  text-decoration: none;
  color: inherit;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:active{
  text-decoration: none;
  color: inherit;
}
#site-main-background{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.stretch{
  height: 100%;
  width: 100%;
}
#logo-main{
  position: absolute;
  top: 2.5%;
  left: 42.5%;
  z-index: 1;
}
.banner-main{
  position: relative;
  top: 0%;
  height: 125px;
  width: 1225px;
  margin: 0 auto;
}
#banner-main-picture{
  position: relative;
  top: 0%;
  height: 80%;
  width: 100%;
  background-color: #3B4042;
  opacity: 0.25;
}
#banner-main-menu{
  position: relative;
  top: 0%;
  height: 20%;
  width: 1005;
  background-color: black;
  opacity: 0.5;
  color: white;
}
#banner-main-menu-left{
  position: relative;
  top: 0%;
  height: 100%;
  width: 40%;
  float: left;
}
#banner-main-menu-left-links{
  color: white;
  text-align: left;
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
  padding-top: 6px;
  font-family: sans-serif;
}
#banner-main-menu-right-links{
  color: white;
  text-align: right;
  font-size: 12px;
  padding-right: 5px;
  font-weight: bold;
  padding-top: 6px;
  font-family: sans-serif;
}
#banner-main-menu-middle{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-main-menu-right{
  position: relative;
  top: 0%;
  height: 100%;
  width: 40%;
  float: left;
}
#site-buffer0{
  position: relative;
  height: 1%;
  width: 100%;
}
.picture-main{
  position: relative;
  top: 0%;
  height: 240px;
  width: 850px;
  border-style: solid;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#site-buffer1{
  position: relative;
  height: 1%;
  width: 100%;
}
.content-main{
  position: relative;
  top: 0%;
  height: 175px;
  width: 1150px;
  margin: 0 auto;
}
#content-main-youtube{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
}
#content-main-youtube-container{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: #3B4042;
  opacity: 0.5;
}
#content-main-soundcloud{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-soundcloud-container{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
}
#content-main-soundcloud-upperbuffer{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
}
#content-main-soundcloud-banner{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-soundcloud-banner-leftbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 10%;
  float: left;
}
#content-main-soundcloud-banner-banner{
  position: relative;
  top: 0%;
  height: 100%;
  width: 80%;
  background-color: #3B4042;
  opacity: 0.5;
  float: left;
}
#content-main-soundcloud-banner-banner-content{
  position: relative;
  top: 0%;
  padding-top: 5px;
  padding-left: 5px;
  height: 100%;
  width: 100%;
  color: white;
  font-family: verdana;
  font-size: 14px;
}
#content-main-soundcloud-banner-rightbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 10%;
  float: left;
}
#content-main-soundcloud-player-container{
  position: relative;
  top: 0%;
  height: 50%;
  width: 100%;
}
#content-main-soundcloud-player-container-buffer-left{
  position: relative;
  top: 0%;
  height: 100%;
  width: 10%;
  float: left;
}
#content-main-soundcloud-player-container-player{
  position: relative;
  top: 0%;
  height: 100%;
  width: 80%;
  float: left;
}
#content-main-soundcloud-player-container-buffer-right{
  position: relative;
  top: 0%;
  height: 100%;
  width: 10%;
  float: left;
}
#content-main-soundcloud-player-bottombuffer{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
}
#content-main-shows{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: right;
  font-family: verdana;
  font-size: 13.5px;
}
#content-main-shows-container{
  position: relative;
  top: 0%;
  padding-top: 12.5px;
  height: 100%;
  width: 100%;
  border-style: solid;
  background-color: #3B4042;
  opacity: 0.5;
}
#content-main-shows-show1{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-shows-show1-location{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-shows-show1-location-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 5px;
}
#content-main-shows-show1-date{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#content-main-shows-show1-date-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
#content-main-shows-show1-tickets{
  position: relative;
  top: 0%;
  height: 100%;
  width: 30%;
  float: left;
}
#content-main-shows-show1-tickets-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  padding-right: 5px;
}
#content-main-shows-show2{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-shows-show2-location{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-shows-show2-location-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 5px;
}
#content-main-shows-show2-date{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#content-main-shows-show2-date-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
#content-main-shows-show2-tickets{
  position: relative;
  top: 0%;
  height: 100%;
  width: 30%;
  float: left;
}
#content-main-shows-show2-tickets-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  padding-right: 5px;
}
#content-main-shows-show3{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-shows-show3-location{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-shows-show3-location-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 5px;
}
#content-main-shows-show3-date{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#content-main-shows-show3-date-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
#content-main-shows-show3-tickets{
  position: relative;
  top: 0%;
  height: 100%;
  width: 30%;
  float: left;
}
#content-main-shows-show3-tickets-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  padding-right: 5px;
}
#content-main-shows-show4{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-shows-show4-location{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-shows-show4-location-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 5px;
}
#content-main-shows-show4-date{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#content-main-shows-show4-date-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
#content-main-shows-show4-tickets-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  padding-right: 5px;
}
#content-main-shows-show4-tickets{
  position: relative;
  top: 0%;
  height: 100%;
  width: 30%;
  float: left;
}
#content-main-shows-show5{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
}
#content-main-shows-show5-date-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
#content-main-shows-show5-location{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#content-main-shows-show5-location-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 5px;
}
#content-main-shows-show5-date{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#content-main-shows-show5-tickets{
  position: relative;
  top: 0%;
  height: 100%;
  width: 30%;
  float: left;
}
#content-main-shows-show5-tickets-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: right;
  color: white;
  padding-right: 5px;
}
#site-buffer2{
  position: relative;
  height: 1%;
  width: 100%;
}
.banner-shop{
  position: relative;
  top: 0%;
  height: 165px;
  width: 1225px;
  margin: 0 auto;
  border-style: solid;
  font-family: verdana;
}
#banner-shop-picture{
  position: relative;
  top: 0%;
  height: 80%;
  width: 100%;
  background-color: #3B4042;
  opacity: 0.25;
}
#banner-shop-menu{
  position: relative;
  top: 0%;
  height: 20%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  color: white;
}
#banner-shop-menu-clothing{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-shop-menu-clothing-button{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7.5px;
}
#banner-shop-menu-posters{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-shop-menu-posters-button{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7.5px;
}
#banner-shop-menu-vinyl{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-shop-menu-vinyl-button{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7.5px;
}
#banner-shop-menu-cds{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-shop-menu-cds-button{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7.5px;
}
#banner-shop-menu-jewelry{
  position: relative;
  top: 0%;
  height: 100%;
  width: 20%;
  float: left;
}
#banner-shop-menu-jewelry-button{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 7.5px;
}
.shop-main-space{
  position: relative;
  margin: 0 auto;
  top: 0%;
  height: 525px;
  width: 1150px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;

}
.shop-main-space-left-arrow-bar{
  position: relative;
  top: 0%;
  height: 100%;
  width: 5%;
  float: left;
}
#shop-main-space-left-arrow-bar-container{
  position: relative;
  top: 0%;
  height: 5%;
  width: 100%;
  opacity: 0.5;
}
#shop-main-space-checkout{
  position: absolute;
  top: 7.5%;
  left: 2.5%;
  height: 85%;
  width: 95%;
  background-color: white;
  display: none;
  z-index: 1;
}
#shop-main-space-checkout-left{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  border-style: solid;
  border-color: #3B4042;
}
#shop-main-space-checkout-left-top{
  position: relative;
  top: 0%;
  height: 10%;
  width: 100%;
  border-style: solid;
}
#shop-main-space-checkout-left-top-banner0{
  position: relative;
  top: 0%;
  height: 100%;
  font-family: verdana;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
  float: left;
}
#shop-main-space-checkout-left-top-banner1{
  position: relative;
  top: 0%;
  height: 100%;
  font-family: verdana;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
  float: left;
}
#shop-main-space-checkout-left-middle{
  position: relative;
  top: 0%;
  height: 80%;
  width: 100%;
  border-style: solid;
}
#shop-main-space-checkout-left-middle-leftbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 2.5%;
  float: left;
}
#shop-main-space-checkout-left-middle-main{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  float: left;
  border-right: solid;
}
#shop-main-space-checkout-left-middle-upper{
  position: relative;
  top: 0%;
  height: 50%;
  width: 100%;
}
#shop-main-space-checkout-left-middle-main-top{
  position: relative;
  top: 0%;
  height: 100%;
  width: 95%;
  float: left;
}
#shop-main-space-checkout-left-middle-main-left{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#shop-main-space-checkout-left-middle-main-right{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
}
#shop-main-space-checkout-left-middle-main-right-top{
  position: relative;
  top: 0%;
  height: 50%;
  width: 100%;
}
#shop-main-space-checkout-left-middle-main-right-bottom{
  position: relative;
  top: 0%;
  height: 50%;
  width: 100%;
}
#shop-main-space-checkout-left-middle-main-image0{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B4042;
  border-left-style: solid;
}
#shop-main-space-checkout-left-middle-main-image0-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-checkout-left-middle-main-image1{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B4042;
}
#shop-main-space-checkout-left-middle-main-image1-content{
  position: relative;
  top: 0%;
  height: 75px;
  width: 75px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-checkout-left-middle-main-image2{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B4042;
}
#shop-main-space-checkout-left-middle-main-image2-content{
  position: relative;
  top: 0%;
  height: 75px;
  width: 75px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-checkout-left-middle-main-image3{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B4042;
}
#shop-main-space-checkout-left-middle-main-image3-content{
  position: relative;
  top: 0%;
  height: 75px;
  width: 75px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-checkout-left-middle-main-image4{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3B4042;
}
#shop-main-space-checkout-left-middle-main-image4-content{
  position: relative;
  top: 0%;
  height: 75px;
  width: 75px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-checkout-left-middle-rightbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 2.5%;
  float: left;
}
#shop-main-space-checkout-left-middle-image{
  position: relative;
  top: 0%;
  height: 100%;
  width: 75%;
  float: left;
}
#shop-main-space-checkout-left-middle-image-topbuffer{
  position: relative;
  top: 0%;
  height: 5%;
  width: 100%;
}
#shop-main-space-checkout-left-middle-image-middle{
  position: relative;
  top: 0%;
  height: 90%;
  width: 100%;
}
#shop-main-space-checkout-left-middle-image-middle-leftbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 5%;
  float: left;
}
#shop-main-space-checkout-left-middle-image-middle-main{
  position: relative;
  top: 0%;
  height: 100%;
  width: 90%;
  float: left;
}
#shop-main-space-checkout-left-middle-image-middle-main-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  border-style: solid;
}
#shop-main-space-checkout-left-middle-main-middle{
  position: relative;
  top: 0%;
  height: 50%;
  width: 100%;
  border-style: solid;
}
#checkout-button{
  position: relative;
  top: 0%;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#checkout-button-content{
  position: relative;
  top: 40%;
}
#checkout-button-buy{
  position: relative;
  display: none;
}
#checkout-download-button{
  position: relative;
  top: 40$;
  text-decoration: none;
  font-family: verdana;
  display: none;
}
#shipping-conditions{
  position: relative;
  top: 0%;
  height: 40%;
  width: 100%;
}
#shipping-conditions-content{
  position: relative;
  top: 25%;
  height: 100%;
  width: 100%;
  text-align: center;
  font-style: italic;
}
#shop-main-space-checkout-left-middle-image-middle-rightbuffer{
  position: relative;
  top: 0%;
  height: 100%;
  width: 5%;
  float: left;
}
#shop-main-space-checkout-left-middle-image-bottombuffer{
  position: relative;
  top: 0%;
  height: 5%;
  width: 100%;
}
#shop-main-space-checkout-left-bottom{
  position: relative;
  top: 0%;
  height: 10%;
  width: 100%;
  border-style: solid;
}
#shop-main-space-checkout-right{
  position: relative;
  top: 0%;
  height: 100%;
  width: 50%;
  float: left;
  border-style: solid;
  border-color: #3B4042;
}
#shop-main-space-left-arrow-bar-image{
  position: relative;
  top: 0%;
  text-align: right;
  padding-right: 5px;
  font-family: verdana;
  font-size: 12px;
  padding-top: 5px;
  color: white;
  display: none;
}
.shop-main-space-items{
  position: relative;
  margin: 0 auto;
  top: 0%;
  height: 100%;
  width: 90%;
  float: left;
}
#shop-main-space-items-menu-bar{
  position: relative;
  top: 0%;
  width: 100%;
  height: 5%;
  background-color: #3B4042;
  opacity: 0.25;
  border-style: solid;
}
#shop-main-space-items-menu-bar-content0{
  position: relative;
  top: 0%;
  padding-top: 2.5px;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  color: white;
  float: left;
}
#shop-main-space-items-menu-bar-buffer0{
  position: relative;
  top: 0%;
  padding-top: 2.5px;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  color: white;
  float: left;
}
#shop-main-space-items-menu-bar-content1{
  position: relative;
  top: 0%;
  padding-top: 2.5px;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  color: white;
  float: left;
}
#shop-main-space-items-row1{
  position: relative;
  top: 2.5%;
  left: 2.5%;
  height: 40%;
  width: 95%;
}
#shop-main-space-items-row1-item1{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-style: solid;
}
#shop-main-space-items-row1-item1-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row1-item1-image:hover{
  opacity: 1;
}
#shop-main-space-items-row1-item1-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row1-item1-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row1-item1-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 7.5px;
  font-size: 12px;
  color: white;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row1-item2{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row1-item2-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row1-item2-image:hover{
  opacity: 1;
}
#shop-main-space-items-row1-item2-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row1-item2-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row1-item2-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 7.5px;
  font-size: 12px;
  color: white;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row1-item3{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row1-item3-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row1-item3-image:hover{
  opacity: 1;
}
#shop-main-space-items-row1-item3-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row1-item3-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row1-item3-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 7.5px;
  font-size: 12px;
  color: white;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row1-item4{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row1-item4-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row1-item4-image:hover{
  opacity: 1;
}
#shop-main-space-items-row1-item4-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row1-item4-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row1-item4-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  color: white;
  padding-top: 7.5px;
  font-family: verdana;
  font-size: 12px;
  text-align: center;
}
#shop-main-space-items-row2{
  position: relative;
  top: 5%;
  left: 2.5%;
  height: 40%;
  width: 95%;
}
#shop-main-space-items-row2-item1{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-style: solid;
}
#shop-main-space-items-row2-item1-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row2-item1-image:hover{
  opacity: 1;
}
#shop-main-space-items-row2-item1-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row2-item1-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row2-item1-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 7.5px;
  font-size: 12px;
  color: white;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row2-item2{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row2-item2-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row2-item2-image:hover{
  opacity: 1;
}
#shop-main-space-items-row2-item2-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row2-item2-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row2-item2-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 7.5px;
  font-size: 12px;
  color: white;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row2-item3{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row2-item3-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row2-item3-image:hover{
  opacity: 1;
}
#shop-main-space-items-row2-item3-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row2-item3-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  text-align: center;
}
#shop-main-space-items-row2-item3-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  color: white;
  padding-top: 7.5px;
  font-size: 12px;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-row2-item4{
  position: relative;
  top: 0%;
  height: 100%;
  width: 25%;
  float: left;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}
#shop-main-space-items-row2-item4-image{
  position: relative;
  top: 0%;
  height: 85%;
  width: 100%;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-main-space-items-row2-item4-image:hover{
  opacity: 1;
}
#shop-main-space-items-row2-item4-image-content{
  position: relative;
  top: 0%;
  height: 160px;
  width: 160px;
}
#shop-main-space-items-row2-item4-caption{
  position: relative;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
#shop-main-space-items-row2-item4-caption-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  color: white;
  padding-top: 7.5px;
  font-size: 12px;
  font-family: verdana;
  text-align: center;
}
#shop-main-space-items-menu-bottom-bar{
  position: relative;
  top: 10%;
  height: 5%;
  width: 100%;
  background-color: #3B4042;
  opacity: 0.25;
  border-style: solid;
}
#shop-main-space-items-menu-bottom-bar-content{
  position: relative;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 2.5px;
  text-align: center;
  color: white;
  font-family: verdana;
  font-style: italic;
  font-size: 12px;
}
.shop-main-space-right-arrow-bar{
  position: relative;
  top: 0%;
  height: 100%;
  width: 5%;
  float: left;
}
#shop-main-space-right-arrow-bar-container{
  position: relative;
  top: 0%;
  height: 5%;
  width: 100%;
  opacity: 0.5;
}
#shop-main-space-right-arrow-bar-image{
  position: relative;
  top: 0%;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  padding-top: 5px;
  color: white;
}
