*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  background-image: url("../../website-main-background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a:link{
  text-decoration: none;
  color: inherit;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:active{
  text-decoration: none;
  color: inherit;
}
#site-main-background{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.stretch{
  height: 100%;
  width: 100%;
}
.banner-main{
  position: relative;
  top: 0%;
  height: 125px;
  width: 1225px;
  margin: 0 auto;
}
#banner-main-picture{
  position: relative;
  top: 0%;
  height: 80%;
  width: 100%;
  background-color: #3B4042;
  opacity: 0.25;
}
#banner-main-menu{
  position: relative;
  top: 0%;
  height: 20%;
  width: 1005;
  background-color: black;
  opacity: 0.5;
  color: white;
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
  padding-top: 6px;
  font-family: sans-serif;
}
#banner-main-menu-links{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#site-buffer0{
  position: relative;
  height: 1%;
  width: 100%;
}
.site-main{
  position: relative;
  top: 0%;
  height: 2800px;
  width: 850px;
  border-style: solid;
  margin: 0 auto;
  display: flex;
  background-color: #3B4042;
  opacity: 0.5;
}
#site-main-content{
  position: relative;
  top: 5px;
  left: 5px;
  height: 97.5%;
  width: 592.5px;
  border-style: solid;
  float: left;
}
#site-main-content-title{
  position: relative;
  top: 5px;
  left: 1%;
  height: 30px;
  width: 98%;
  border-color: black;
  border-style: solid;
  position: relative;
  opacity: 0.7;
  color: white;
  font-size: 13px;
  padding-top: 2.5px;
  padding-left: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
#site-main-content-title-content{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}
#site-main-content-article{
  position: relative;
  top: 10px;
  left: 1%;
  height: 79%;
  width: 98%;
  border-style: solid;
  border-color: black;
  opacity: 0.5;
  color: white;
  font-size: 13px;
  font-family: sans-serif;

}
#site-main-content-article-content{
  position: relative;
  padding-top: 2.5px;
  padding-left: 5px;
  padding-right: 5px;
}
#site-main-content-socialmedia{
  position: relative;
  top: 2%;
  left: 1%;
  height: 7.5%;
  width: 98%;
  border-style: solid;
}
#site-main-buffer0{
  position: relative;
  top: 5px;
  height: 97.5%;
  width: 12.5px;
  border-style: solid;
  float: left;
}
#site-main-addon{
  position: relative;
  top: 5px;
  height: 97.5%;
  width: 235px;
  border-style: solid;
  float: left;
}
#site-main-addon-title0{
  position: relative;
  top: 5px;
  left: 1%;
  height: 25px;
  width: 98%;
  border-style: solid;
}
#site-main-addon-title0-content{
  position: relative;
  top: 7.5px;
  left: 1%;
  height: 175px;
  width: 98%;
  border-style: solid;
}
#site-main-addon-title1{
  position: relative;
  top: 15px;
  left: 1%;
  height: 25px;
  width: 98%;
  border-style: solid;
}
#site-main-addon-title1-content{
  position: relative;
  top: 20px;
  left: 1%;
  height: 175px;
  width: 98%;
  border-style: solid;
}
